@font-face {
  font-family: fontRegular;
  src: url("/assets/djr-font/FormaDJRDeck-Regular-Testing.woff");
}
@font-face {
  font-family: fontMedium;
  src: url("/assets/djr-font/FormaDJRDeck-Medium-Testing.woff");
}
@font-face {
  font-family: fontBold;
  src: url("/assets/djr-font/FormaDJRDeck-Bold-Testing.woff");
}
.container{
   max-width: calc(100vw - 5%) !important;
}



.container {
  font-family: fontRegular;
}
.max-container{
   max-width: 1550px;
}
.font-medium {
  font-family: fontMedium;
}
.text-red {
  color: #e94724;
}
.text-yellow {
  color: #edaa20;
}
.text-green {
  color: #30a981;
}
.text-bold {
  font-size: calc(35px + 0.9vw);
  font-family: fontBold;
}

.btn-green-white {
  background-color: #30a981;
  color: #ffff;
  margin-left: 8px;
}

.btn-green-white:hover {
  background-color: #ffff;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.4);
  color: #30a981;
}

/* navbar css start */
/*  */
.navbar-color {
  background-color: #ffff;
  height: 80px;
  /* max-width: 100%; */
}
.bg-drop{
   background-color: #ffff;
}
.nav-link {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-login {
  margin-top: -6px !important;
}
.login-padding:hover {
  background-color: #30a981;
  color: white !important;
  border: 1px solid #30a981 !important;
}
/*  */
/* navbar css end */


.carousel-box {
   min-height: calc(80vh - 80px) !important;;
}
.img-fluid-header{
  max-width: 70%;
}
.img-fluid {
  max-width: 80% !important;
}
.img-fluid-slick{
  max-width: 90% !important;
}
.img-fluid-custom {
  width: 4% !important;
}
.img-fluid-custom-1 {
  width: 6% !important;
}

.banner-bottom-border {
  width: 60%;
  height: 10px;
  background-color: #edaa20;
  margin-left: -130px;
}

.indicators-arrows{
   min-height: 20vh;
   width: 100% !important;
}

.carousel-indicators button {
  border: 2px solid #ea4722 !important;
  background-color: #ea4722 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
}
.carousel-indicators {
  position: initial !important;
  max-width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
.carousel-control-prev,
.carousel-control-next {
  position: initial !important;
  background-color: #d9d9d9;
  width: auto !important;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 25px !important;
  padding-left: 23px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.fa-angle-left:hover,
.fa-angle-right:hover {
   background-color: #ffff;
   box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.4);
   border-radius: 100% ;
}
/* header banner end */

/* learn more start */

.learn-more-custom-height{
   height: 75px;
}
.scroll-card-width{
  width: 500px !important;
  padding: 35px !important;
  margin: 5px;

}
.scroll-card-width:hover{
  border-radius: 0 0 0 25px;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.4);
}
.hover-green-btn {
  padding-right: 9px ;
  padding-left: 9px ;
  font-weight: 500;
  border: 2px solid black;
  padding-top: 0.0000001px !important;
  padding-bottom: 2px !important;
}
.hover-green-btn:hover{
background-color: #30a981;
color: white;
border: 2px solid #30a981;
}
/* learn more end */

/* edu inst start */
.edu-inst {
  background-color: #f8f7f7;
  z-index: 2;
}
.edu-end {
  margin-bottom: -5%;
}
.edu-start {
  margin-top: -5%;
}
.custom-h {
  height: 90px;
}
/* edu inst end */

/* slick slider start */
.responsive{
  height: 250px !important;

}
.slick-single{
  height: 140px;
  display: flex;;
  align-items: center;
  justify-content: center;
}
/* slick slider end */

/* institute upgrade start */
.bottom-img {
  border-radius: 100% 0 0 0;
  max-width: 100%;
  height: auto;
  margin-bottom: -20%;
  z-index: -1;
}
.margin-left{
  margin-left: 4%;
}

/* institute upgrade end */

/* trust us section start */
.number-trust {
  font-size: 3.8em;
}
/* trust us section end */

/* marque section start */
.border-right {
  width: 30%;
  height: 10px;
  background-color: #e94724;
}
/* marque section end */
/* footer */
.vr-line-footer {
  width: 25%;
  height: 3px;
  background-color: #e94724;
}

.grapdes-design{
  font-weight: 500 !important;
}
/* footer */

/* horizontal scrollbar */

.overflow-custom {
  overflow-x: scroll;
  z-index: -1;
  
}
/* 
.overflow-custom::-webkit-scrollbar {
  height: 10px;
  width: 200px;
}

.overflow-custom::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  width: 50px;
}

.overflow-custom::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 150px;
} */
/* horizontal scrollbar */

/* media query breakpoint */
@media (max-width: 991px) {
   .nav-login {
     width: 70px !important;
   }
   .login-padding {
     padding-left: 8px;
   }
   .img-fluid{
    max-width: 55% !important;
   }
   .img-fluid-header{
    max-width: 55% !important;
   }
   .earn-more-custom-height{
    height: 220px;
 }
 }
/* media query breakpoint */
